<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<header>
    <section class="section-row">
        <button id="menu">
            <svg width="40px" height="40px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 12H18" stroke-linecap="round" stroke-linejoin="round" stroke="#fff" />
                <path d="M6 15.5H18" stroke-linecap="round" stroke-linejoin="round" stroke="#fff" />
                <path d="M6 8.5H18" stroke-linecap="round" stroke-linejoin="round" stroke="#fff" />
            </svg>
        </button>
        <a href="/" class="logo">
            <div>
                <svg width="40px" height="40px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M5 18H15C16.1046 18 17 17.1046 17 16V8.57143V8C17 6.89543 16.1046 6 15 6H5C3.89543 6 3 6.89543 3 8V16C3 17.1046 3.89543 18 5 18Z"
                        stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round" />
                    <circle cx="6.5" cy="9.5" r="0.5" stroke="#fff" stroke-linejoin="round" />
                    <path d="M17 10L21 7V17L17 14" stroke="#fff" fill="none" stroke-linejoin="round" />
                </svg>
            </div>
            <h3>YouDupe</h3>
        </a>
    </section>
    <div class="search-row">
        <input type="text" id="search-input" />
        <button class="search-btn">
            <svg fill="#000000" width="22px" height="22px" viewBox="-0.04 0 31.793 31.793"
                xmlns="http://www.w3.org/2000/svg">
                <g transform="translate(-609.503 -130.759)">
                    <path
                        d="M622.914,132.759a11.41,11.41,0,1,1-11.411,11.41,11.424,11.424,0,0,1,11.411-11.41m0-2a13.41,13.41,0,1,0,13.41,13.41,13.41,13.41,0,0,0-13.41-13.41Z" />
                    <path
                        d="M640.208,162.552a1,1,0,0,1-.707-.292L631.64,154.4a1,1,0,1,1,1.414-1.414l7.861,7.86a1,1,0,0,1-.707,1.707Z" />
                </g>
            </svg>
        </button>
    </div>
    <section id="authorised" class="section-row" <%= !user ? 'hidden' : '' %>>
        <a href="/studio" id="create-video-btn">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px"
                    fill="#000000">
                    <path d="M450-450H220v-60h230v-230h60v230h230v60H510v230h-60v-230Z" />
                </svg>
            </div>
            <h4>Create</h4>
        </a>
        <div id="notifications-dropdown" class="dropdown">
            <button id="notifications-btn">
                <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.5 19C8.89555 19 7.01237 19 5.61714 19C4.87375 19 4.39116 18.2177 4.72361 17.5528L5.57771 15.8446C5.85542 15.2892 6 14.6774 6 14.0564C6 13.2867 6 12.1434 6 11C6 9 7 5 12 5C17 5 18 9 18 11C18 12.1434 18 13.2867 18 14.0564C18 14.6774 18.1446 15.2892 18.4223 15.8446L19.2764 17.5528C19.6088 18.2177 19.1253 19 18.382 19H14.5M9.5 19C9.5 21 10.5 22 12 22C13.5 22 14.5 21 14.5 19M9.5 19C11.0621 19 14.5 19 14.5 19"
                        stroke-linejoin="round" stroke="#fff" />
                    <path d="M12 5V3" stroke-linecap="round" stroke-linejoin="round" stroke="#fff" />
                </svg>
            </button>
            <nav class="content" hidden></nav>
        </div>
        <div class="dropdown">
            <button class="avatar-link">
                <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="6" r="4" stroke="#fff" stroke-width="1.5" />
                    <path opacity="0.5"
                        d="M20 17.5C20 19.9853 20 22 12 22C4 22 4 19.9853 4 17.5C4 15.0147 7.58172 13 12 13C16.4183 13 20 15.0147 20 17.5Z"
                        stroke="#fff" stroke-width="1.5" />
                </svg>
            </button>
            <nav class="content" hidden>
                <a href="/channel/<%= user?.login %>">
                    <div>
                        <svg width="24px" height="24px" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                            <g id="layer1">
                                <path
                                    style="fill:none;stroke:#000000;stroke-width:15.99953938;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                                    d="M 16.056766,240 H 239.94325" />
                                <path
                                    style="fill:none;stroke:#000000;stroke-width:15.99953938;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                                    d="m 16.056766,240 c 0,-47.97569 31.983762,-64.0813 31.983762,-64.0813 15.991919,-9.23291 31.9838,0 47.975681,-15.99189"
                                    id="path907" />
                                <path
                                    style="fill:none;stroke:#000000;stroke-width:15.99953938;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                                    d="m 96.016209,159.92681 c 0,0 15.991921,15.99189 31.983801,15.99189" />
                                <path
                                    style="fill:none;stroke:#000000;stroke-width:15.99953938;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                                    d="m 239.94325,240 c 0,-47.97569 -31.9838,-64.0813 -31.9838,-64.0813 -15.99188,-9.23291 -31.98376,0 -47.97564,-15.99189"
                                    id="path907-5" />
                                <path
                                    style="fill:none;stroke:#000000;stroke-width:15.99953938;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                                    d="m 159.98381,159.92681 c 0,0 -15.99192,15.99189 -31.9838,15.99189"
                                    id="path909-6" />
                                <path id="path974"
                                    style="fill:none;stroke:#000000;stroke-width:15.99953938;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none"
                                    d="m 128.00001,15.99977 c 31.9838,0 47.97568,15.991881 47.97568,63.967561 0,39.979759 -31.9838,63.967599 -47.97568,63.967599" />
                                <path id="path974-1"
                                    style="fill:none;stroke:#000000;stroke-width:15.99953938;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none"
                                    d="m 128.00001,15.99977 c -31.983801,0 -47.975682,15.991881 -47.975682,63.967561 0,39.979759 31.983802,63.967599 47.975682,63.967599" />
                                <path
                                    style="fill:none;stroke:#000000;stroke-width:15.99953938;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                                    d="m 159.98381,159.92681 -7.41232,-27.66304" />
                                <path
                                    style="fill:none;stroke:#000000;stroke-width:15.99953938;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                                    d="m 96.016209,159.92681 7.412321,-27.66304" />
                            </g>
                        </svg>
                    </div>
                    <h1>Your channel</h1>
                </a>
                <a href="/studio">
                    <div>
                        <svg width="24px" height="24px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                            <polyline class="a" points="13.005 5.5 16.673 11.129 13.005 16.757" id="polyline1"
                                transform="matrix(1.263141,0,0,1.2631581,-6.3150686,-6.3157905)" />
                            <polyline class="a" points="22.551 5.5 26.22 11.129 22.551 16.757" id="polyline2"
                                transform="matrix(1.263141,0,0,1.2631581,-6.3150686,-6.3157905)" />
                            <polyline class="a" points="32.097 5.5 35.766 11.129 32.097 16.757" id="polyline3"
                                transform="matrix(1.263141,0,0,1.2631581,-6.3150686,-6.3157905)" />
                            <line class="a" x1="0.63157499" y1="14.851328" x2="47.367794" y2="14.851328" id="line3"
                                style="stroke-width:1.26315" />
                            <path class="a"
                                d="m 30.968813,29.365773 -9.32476,-5.384086 a 1.6041891,1.6042108 0 0 0 -2.407041,1.389474 v 10.767792 a 1.6041891,1.6042108 0 0 0 2.407041,1.389473 l 9.32476,-5.384085 a 1.6041891,1.6042108 0 0 0 0,-2.778568 z"
                                id="path3" style="stroke-width:1.26315" />
                            <path class="a"
                                d="M 44.842144,0.6315789 H 3.1584892 A 2.526282,2.5263162 0 0 0 0.63220706,3.157895 V 44.842111 A 2.526282,2.5263162 0 0 0 3.1584892,47.368427 H 44.842144 a 2.526282,2.5263162 0 0 0 2.526282,-2.526316 V 3.157895 A 2.526282,2.5263162 0 0 0 44.842144,0.6315789 Z"
                                id="path4" style="stroke-width:1.26315" />
                        </svg>
                    </div>
                    <h1>Studio</h1>
                </a>
                <button>
                    <div>
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g id="style=linear" clip-path="url(#clip0_1_1825)">
                                <path id="vector"
                                    d="M7.8 12L7.05 12L7.8 12ZM16.2 12H16.95H16.2ZM12 16.2V16.95V16.2ZM14.1729 22.2749L14.3273 23.0088L14.1729 22.2749ZM9.82712 22.2749L9.67269 23.0088L9.82712 22.2749ZM2.27554 8.03225L1.58122 7.74867H1.58122L2.27554 8.03225ZM1.7251 14.1729L0.991173 14.3273L1.7251 14.1729ZM9.82712 1.7251L9.67269 0.991173L9.82712 1.7251ZM14.1729 1.7251L14.3273 0.991174L14.1729 1.7251ZM21.6399 8.07014L21.8576 8.78785L21.6399 8.07014ZM2.35887 8.06976L2.14116 8.78747L2.35887 8.06976ZM21.0312 8.3185C21.4944 9.45344 21.75 10.6959 21.75 12H23.25C23.25 10.4983 22.9553 9.06352 22.42 7.75174L21.0312 8.3185ZM21.75 12C21.75 12.6927 21.6779 13.3678 21.541 14.0184L23.0088 14.3273C23.167 13.5757 23.25 12.7972 23.25 12H21.75ZM21.541 14.0184C20.7489 17.7827 17.7828 20.7489 14.0184 21.541L14.3273 23.0088C18.6735 22.0943 22.0943 18.6735 23.0088 14.3273L21.541 14.0184ZM14.0184 21.541C13.3678 21.6779 12.6927 21.75 12 21.75V23.25C12.7972 23.25 13.5757 23.167 14.3273 23.0088L14.0184 21.541ZM12 21.75C11.3072 21.75 10.6322 21.6779 9.98156 21.541L9.67269 23.0088C10.4242 23.167 11.2028 23.25 12 23.25V21.75ZM2.25 12C2.25 10.6949 2.50601 9.45149 2.96986 8.31584L1.58122 7.74867C1.0451 9.06127 0.75 10.4971 0.75 12H2.25ZM9.98156 21.541C6.21724 20.7489 3.25112 17.7827 2.45903 14.0184L0.991173 14.3273C1.90571 18.6735 5.32647 22.0943 9.67269 23.0088L9.98156 21.541ZM2.45903 14.0184C2.32213 13.3678 2.25 12.6927 2.25 12H0.75C0.75 12.7972 0.83303 13.5757 0.991173 14.3273L2.45903 14.0184ZM2.96986 8.31584C4.17707 5.36016 6.79381 3.1298 9.98155 2.45903L9.67269 0.991173C5.99032 1.76602 2.97369 4.33941 1.58122 7.74867L2.96986 8.31584ZM9.98155 2.45903C10.6322 2.32213 11.3072 2.25 12 2.25V0.75C11.2028 0.75 10.4242 0.83303 9.67269 0.991173L9.98155 2.45903ZM12 2.25C12.6927 2.25 13.3678 2.32213 14.0184 2.45903L14.3273 0.991174C13.5757 0.833031 12.7972 0.75 12 0.75V2.25ZM14.0184 2.45903C17.2071 3.13 19.8245 5.3615 21.0312 8.3185L22.42 7.75174C21.0281 4.34096 18.0108 1.76625 14.3273 0.991174L14.0184 2.45903ZM13.4584 1.95309C13.7482 2.8614 14.8215 6.35621 15.2615 9.5682L16.7476 9.36461C16.289 6.01664 15.1813 2.41835 14.8874 1.49712L13.4584 1.95309ZM15.2615 9.5682C15.3795 10.4292 15.45 11.2568 15.45 12L16.95 12C16.95 11.1681 16.8715 10.269 16.7476 9.36461L15.2615 9.5682ZM21.4222 7.35242C20.2692 7.70212 18.1033 8.3164 15.8685 8.72886L16.1407 10.204C18.4546 9.7769 20.6809 9.14473 21.8576 8.78785L21.4222 7.35242ZM15.8685 8.72886C14.5129 8.97904 13.1579 9.15 12 9.15L12 10.65C13.2874 10.65 14.743 10.4619 16.1407 10.204L15.8685 8.72886ZM15.45 12C15.45 13.1009 15.2954 14.3808 15.0647 15.671L16.5413 15.935C16.7797 14.6019 16.95 13.2252 16.95 12L15.45 12ZM15.0647 15.671C14.5591 18.4992 13.7097 21.2593 13.4584 22.0469L14.8874 22.5029C15.145 21.6956 16.0181 18.8613 16.5413 15.935L15.0647 15.671ZM22.0469 13.4584C21.2593 13.7097 18.4992 14.5591 15.671 15.0647L15.935 16.5413C18.8613 16.0181 21.6956 15.145 22.5029 14.8874L22.0469 13.4584ZM15.671 15.0647C14.3808 15.2954 13.1009 15.45 12 15.45L12 16.95C13.2252 16.95 14.6019 16.7797 15.935 16.5413L15.671 15.0647ZM12 15.45C10.8991 15.45 9.61923 15.2954 8.32897 15.0647L8.06496 16.5413C9.39807 16.7797 10.7748 16.95 12 16.95L12 15.45ZM8.32897 15.0647C5.50076 14.5591 2.74066 13.7097 1.95309 13.4584L1.49712 14.8874C2.30437 15.145 5.13873 16.0181 8.06496 16.5413L8.32897 15.0647ZM7.05 12C7.05 13.2252 7.22032 14.6019 7.45867 15.935L8.93526 15.671C8.70456 14.3808 8.55 13.1009 8.55 12L7.05 12ZM7.45867 15.935C7.98188 18.8613 8.85504 21.6956 9.11261 22.5029L10.5416 22.0469C10.2903 21.2593 9.44094 18.4992 8.93526 15.671L7.45867 15.935ZM9.11261 1.49712C8.81867 2.41835 7.711 6.01664 7.25235 9.36461L8.73846 9.5682C9.17849 6.35621 10.2518 2.8614 10.5416 1.95309L9.11261 1.49712ZM7.25235 9.36461C7.12846 10.269 7.05 11.1681 7.05 12L8.55 12C8.55 11.2568 8.62052 10.4292 8.73846 9.5682L7.25235 9.36461ZM12 9.15C10.8421 9.15 9.4871 8.97904 8.13152 8.72886L7.85929 10.204C9.25697 10.4619 10.7126 10.65 12 10.65L12 9.15ZM8.13152 8.72886C5.89586 8.31625 3.72921 7.70168 2.57657 7.35205L2.14116 8.78747C3.3175 9.14428 5.54457 9.77675 7.85929 10.204L8.13152 8.72886ZM21.38 7.3695C21.3919 7.3633 21.4065 7.35719 21.4222 7.35242L21.8576 8.78785C21.933 8.76498 22.0039 8.73569 22.0712 8.70074L21.38 7.3695ZM1.88425 8.67209C1.96322 8.72038 2.04888 8.75948 2.14116 8.78747L2.57657 7.35205C2.60983 7.36214 2.64048 7.3763 2.66683 7.39242L1.88425 8.67209Z"
                                    fill="#000000" />
                            </g>
                            <defs>
                                <clipPath id="clip0_1_1825">
                                    <rect width="24" height="24" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <h1>Language</h1>
                </button>
                <button>
                    <img src="/img/idea.svg" alt="">
                    <h1>Theme</h1>
                </button>
                <div class="v-line"></div>
                <button id="logout-btn">
                    <div>
                        <svg fill="#000000" width="24px" height="24px" viewBox="0 0 32 32" version="1.1"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M3.651 16.989h17.326c0.553 0 1-0.448 1-1s-0.447-1-1-1h-17.264l3.617-3.617c0.391-0.39 0.391-1.024 0-1.414s-1.024-0.39-1.414 0l-5.907 6.062 5.907 6.063c0.196 0.195 0.451 0.293 0.707 0.293s0.511-0.098 0.707-0.293c0.391-0.39 0.391-1.023 0-1.414zM29.989 0h-17c-1.105 0-2 0.895-2 2v9h2.013v-7.78c0-0.668 0.542-1.21 1.21-1.21h14.523c0.669 0 1.21 0.542 1.21 1.21l0.032 25.572c0 0.668-0.541 1.21-1.21 1.21h-14.553c-0.668 0-1.21-0.542-1.21-1.21v-7.824l-2.013 0.003v9.030c0 1.105 0.895 2 2 2h16.999c1.105 0 2.001-0.895 2.001-2v-28c-0-1.105-0.896-2-2-2z">
                            </path>
                        </svg>
                    </div>
                    <h1>Log out</h1>
                </button>
            </nav>
        </div>
    </section>
    <section id="unauthorised" class="section-row" <%= user ? 'hidden' : '' %>>
        <button class="authorise-btn">
            <div>
                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="6" r="4" stroke="#000000" stroke-width="1.5" />
                    <path opacity="0.5"
                        d="M20 17.5C20 19.9853 20 22 12 22C4 22 4 19.9853 4 17.5C4 15.0147 7.58172 13 12 13C16.4183 13 20 15.0147 20 17.5Z"
                        stroke="#000000" stroke-width="1.5" />
                </svg>
            </div>
            <h4>Log in</h4>
        </button>
    </section>
</header>
<%- include('./guide.ejs') %>


    <div id="auth-modal" hidden>
        <div id="auth-panel" class="panel">
            <h2>Login</h2>
            <form id="auth-form" action="/api/auth/login" data-type="login">
                <input id="login" name="login" placeholder="Login" hidden />
                <input id="email" name="email" placeholder="Email" />
    
                <!-- Контейнер для пароля та кнопки toggle -->
                <div class="password-container">
                    <input type="password" id="password" name="password" placeholder="Password" />
                    <span class="toggle-password" id="toggle-password">
                        <i class="fas fa-eye-slash"></i>
                    </span>
                </div>
    
                <div class="password-container" id="confirm-password-container" hidden>
                    <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm password" />
                    <span class="toggle-password" id="toggle-confirm-password">
                        <i class="fas fa-eye-slash"></i>
                    </span>
                </div>
    
                <p class="error-message" hidden></p>
    
                <a href="#" class="forgot-password-btn">Forgot password?</a>
                <button type="submit" id="submit">Login</button>
                <button type="button" id="show-signup-panel-btn">Don't have an account?</button>
            </form>
        </div>
    </div>
    