<% videos.forEach(video => {  %>
    <div class="notification-video">
        <a href="/channel/<%= video.user.login %>" class="channel-info">
            <img src="/img/user.svg" alt="" width="60px">
        </a>
        <a href="/watch?v=67ba44ea5917a72bcbb39fd7" class="video-info">
            <div class="metadata">
                <h1 class="video-title"><%= video.title %></h1>
                <h1 class="time"><%= timeAgo(video.createdAt) %></h1>
            </div>
            <div class="preview">
                <img src="/api/preview/<%= video._id %>" alt="" width="200px">
            </div>
        </a>
    </div>
<% }); %>