<div id="player-container">
    <div id="video-container" tabindex="0">
        <video id="custom-video">
            <source src="api/video/<%= id %>" type="video/mp4">
            Your browser does not support video.
        </video>
    </div>
    <div class="controls">
        <input type="range" id="video-slider" min="0" max="100" value="0">
        <div class="bottom">
            <div class="group">
                <button id="previous">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g fill="#fff" transform="translate(3.999058)">
                            <path d="M 16,24 0.3,12 16,0 Z" />
                            <rect x="0.012203574" y="0.16220379" width="1.9755929" height="23.675592" />
                        </g>
                    </svg>
                </button>
                <button id="play-pause">
                    <svg width="30px" height="30px" viewBox="0 0 512 512">
                        <g transform="matrix(1.4678316,0,0,1.7251122,-119.7649,-185.62872)">
                            <g fill="#fff" transform="translate(170.66667,128)">
                                <path d="M 0,0 H 42.666667 V 256 H 0 Z m 128,0 h 42.66667 V 256 H 128 Z" fill="#fff" />
                            </g>
                        </g>
                    </svg>
                </button>
                <button id="next">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g fill="#fff" transform="matrix(0.98765382,0,0,0.97533835,-3.8024612,0.2959398)">
                            <path d="M 8,24 V 0 l 15.7,12 z" />
                            <rect x="22.014099" y="-0.13933648" width="1.9718026" height="24.278648" />
                        </g>
                    </svg>
                </button>
                <div class="sound-container">
                    <button id="sound">
                        <svg width="30px" height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M 11.193,4.452 5.67,9 H 2.376 C 1.6160562,9 1,9.6160562 1,10.376 v 3.248 C 1,14.383944 1.6160562,15 2.376,15 h 3.293 l 5.524,4.548 c 0.33726,0.241599 0.806514,8.66e-4 0.807,-0.414 V 4.866 C 11.999514,4.4511335 11.53026,4.2104008 11.193,4.452 Z m 4.277,0.892 c 1.630488,1.8285126 2.531051,4.1931124 2.53,6.643 0.004,2.457928 -0.911261,4.828512 -2.566,6.646 l -0.74,-0.672 C 16.179573,16.326182 17.001848,14.195971 17,11.987 17.000166,9.7824542 16.18975,7.6548024 14.723,6.009 Z m 3.46,-3.933 c 2.616773,2.9021789 4.066598,6.6702984 4.07,10.578 -0.0063,3.900175 -1.44181,7.662795 -4.035,10.576 L 18.23,21.915 C 20.657796,19.178038 21.998948,15.646573 22,11.988 22.000629,8.3245527 20.647261,4.7901258 18.2,2.064 Z"
                                fill="#fff" />
                        </svg>
                    </button>
                    <input type="range" id="sound-slider" min="0" max="1" step="0.01" value="0.5">
                </div>
                <div id="time">
                    <span id="time-current">0:00</span>
                    <span> / </span>
                    <span id="time-duration">0:00</span>
                </div>
            </div>
            <div class="group">
                <button id="full-screen">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="m 15.660142,2.0795238 h 6.435015 v 6.4350139 l 1.901523,0 V 0.17799985 h -8.336538 z"
                            fill="#fff" />
                        <path
                            d="M 0.17799985,8.5145377 H 2.079524 V 2.0795239 h 6.435014 l 0,-1.90152405 H 0.17799985 Z"
                            fill="#fff" />
                        <path d="M 2.079524,22.095156 H 8.514538 V 23.99668 H 0.17799985 V 15.660141 H 2.079524 Z"
                            fill="#fff" />
                        <path d="m 22.095152,22.095151 h -6.435015 l 0,1.901524 h 8.336538 v -8.336539 l -1.901523,0 z"
                            fill="#fff" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>