<main>
    <div class="top">
        <div class="img-wrapper">
            <div>
                <svg width="60px" height="60px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="6" r="4" stroke="#000000" stroke-width="1.5" />
                    <path opacity="0.5"
                        d="M20 17.5C20 19.9853 20 22 12 22C4 22 4 19.9853 4 17.5C4 15.0147 7.58172 13 12 13C16.4183 13 20 15.0147 20 17.5Z"
                        stroke="#000000" stroke-width="1.5" />
                </svg>
            </div>
            <h1>Channel name</h1>
        </div>
        <div class="content-top">
            <h1>Channel content</h1>
            <div class="filters">
                <% createFilterBtn('date') %>
                    <% createFilterBtn('views') %>
                        <% createFilterBtn('comments') %>
                            <% createFilterBtn('likes') %>
                                <% createFilterBtn('dislikes') %>
            </div>
        </div>
    </div>
    <div class="bottom">
        <nav>

        </nav>
        <div class="content">
            <% for (let i=0; i < 5; i++) { %>
                <div class="video">
                    <img class="preview" src="/img/media-play.svg" alt="" width="260px">
                    <div class="metadata-row">
                        <div>
                            <h1 class="title">Video title</h1>
                            <h1 class="date">Date</h1>
                            <button class="description-dropdown">
                                <h1>Description</h1>
                                <div class="description-dropdown-icon">
                                    <svg width="12px" height="12px" viewBox="0 0 16 16"
                                        xmlns="http://www.w3.org/2000/svg">

                                        <g id="layer1" transform="rotate(45 1254.793 524.438)">
                                            <path
                                                style="fill:#373737;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                                                d="M11.532 1048.341H9.536v-9h-9v-2h11z" id="path4179" />
                                        </g>
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="metadata-column">
                            <div class="meta-block">
                                <h1>Views: </h1>
                                <h2 class="meta views">0</h2>
                            </div>
                            <div class="meta-block">
                                <h1>Likes: </h1>
                                <h2 class="meta likes">0</h2>
                            </div>
                            <div class="meta-block">
                                <h1>Dislikes: </h1>
                                <h2 class="meta dislikes">0</h2>
                            </div>
                            <div class="meta-block">
                                <h1>Shares: </h1>
                                <h2 class="meta shares">0</h2>
                            </div>
                            <div class="meta-block">
                                <h1>Complains: </h1>
                                <h2 class="meta complains">0</h2>
                            </div>
                        </div>
                        <button class="delete-video-btn">Delete</button>
                    </div>
                </div>
                <div class="h-line"></div>
                <% } %>

                    <div id="upload-video-modal" hidden>
                        <div class="panel-modal">
                            <div class="header">
                                <h1>Upload the video</h1>
                                <button id="cancel-upload-video-btn">
                                    <svg fill="#000000" width="24px" height="24px" viewBox="0 0 16 16"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0 14.545L1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z"
                                            fill-rule="evenodd" />
                                    </svg>
                                </button>
                            </div>
                            <div class="v-line"></div>
                            <div class="content-wrapper">
                                <div id="drop-zone">
                                    <h1>Drag and drop the video file you want to upload here</h1>
                                    <button id="choose-file-btn">Choose file</button>
                                    <input type="file" id="video-file-input" accept="video/*" hidden />
                                </div>
                                <div id="upload-information" hidden>
                                    <div class="information">
                                        <div class="meta-block">
                                            <h1>Name</h1>
                                            <textarea name="video title" id="video-title-textarea"></textarea>
                                            <h1>Description</h1>
                                            <textarea name="video description" id="video-description-textarea"></textarea>
                                        </div>
                                        <div class="preview-meta-block">
                                            <h2>Preview</h2>
                                            <div class="meta-preview-row">
                                                <button id="upload-preview-btn" class="meta-preview-wrapper-btn">
                                                    <svg width="24px" height="24px" viewBox="0 0 24 24"
                                                        preserveAspectRatio="xMidYMid meet" focusable="false"
                                                        class="style-scope tp-yt-iron-icon"
                                                        style="pointer-events: none;">
                                                        <path
                                                            d="M14,13.6l2.8,3.4h-5.4l0.3-0.4L14,13.6 M8.9,14.7l1.2,1.9l0.3,0.4H7.1L8.9,14.7 M14,12l-3,4l-2-3l-4,5h14L14,12L14,12z
                                                        M21,7h-2v2h-2V7h-2V5h2V3h2v2h2V7z M13,4v6v1h1h6v9H4V4H13 M14,3H3v18h18V10h-7V3L14,3z"
                                                            class="style-scope tp-yt-iron-icon"></path>
                                                    </svg>
                                                    <h1>Upload preview</h1>
                                                    <input type="file" id="preview-file-input" accept="image/png" hidden/>
                                                </button>
                                                <button id="create-preview-btn" class="meta-preview-wrapper-btn">
                                                    <svg width="24px" height="24px" viewBox="0 0 24 24">
                                                        <path
                                                            d="M9.91,8.7l0.6,2.12l0.15,0.54l0.54,0.15l2.12,0.6l-2.12,0.6l-0.54,0.15l-0.15,0.54l-0.6,2.12l-0.6-2.12l-0.15-0.54 L8.62,12.7l-2.12-0.6l2.12-0.6l0.54-0.15l0.15-0.54L9.91,8.7 M9.91,5.01l-1.56,5.53L2.83,12.1l5.53,1.56l1.56,5.53l1.56-5.53 L17,12.1l-5.53-1.56L9.91,5.01L9.91,5.01z M16.72,16.81l-2.76,0.78l2.76,0.78l0.78,2.76l0.78-2.76l2.76-0.78l-2.76-0.78l-0.78-2.76 L16.72,16.81z M17.5,2.96l-0.78,2.76L13.96,6.5l2.76,0.78l0.78,2.76l0.78-2.76l2.76-0.78l-2.76-0.78L17.5,2.96z"
                                                            class="style-scope tp-yt-iron-icon"></path>
                                                    </svg>
                                                    <h1>Create automatically</h1>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video-data">
                                        <h1>Uploaded video</h1>
                                        <video id="uploaded-video" controls class="video-preview"></video>
                                        <h2>Preview</h2>
                                        <div class="video-preview">
                                            <img id="video-preview" width="auto"></img>
                                        </div>
                                        <button id="upload-video-btn">Upload video</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="change-description-modal" hidden>
                        <div class="panel-modal">
                            <h1>Change description</h1>
                            <textarea name="Change description" id="change-description-textarea"
                                maxlength="2600"></textarea>

                            <div class="choice">
                                <button id="change-description-btn">Change</button>
                                <button id="cancel-change-description-btn">Cancel</button>
                            </div>
                        </div>
                    </div>

                    <div id="confirm-delete-modal" hidden>
                        <div class="panel-modal">
                            <h1>Are you sure you want to delete the video?</h1>
                            <div class="choice">
                                <button id="delete-video-btn">Yes</button>
                                <button id="cancel-deletion-btn">No</button>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</main>

<% function createFilterBtn(name) { %>
    <button id="<%= name %>" <% if(filter===name ) { %>
        <%= 'active' %> sort="<%= sort %>" <% } %> >
                    <h2>
                        <%= (name.charAt(0).toUpperCase() + name.slice(1)) %>
                    </h2>
                    <% if(filter===name ) getFilterIcon() %>
    </button>
    <% } %>

        <% function getFilterIcon() { %>
            <div id="filter-icon">
                <% if(sort==="down" ) { %>
                    <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m 12.666918,2.528 v 16.392001 l 3.530664,-3.529334 0.943022,0.942667 -5.13927,5.138666 -5.1406042,-5.138666 0.9430221,-0.942667 3.5293301,3.526667 V 2.528 Z"
                            stroke-width="1.33358" />
                    </svg>
                    <% } else { %>
                        <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M 11.334416,21.472 V 5.079999 L 7.8037518,8.609333 6.8607298,7.666666 12,2.528 17.140604,7.666666 16.197582,8.609333 12.668252,5.082666 V 21.472 Z"
                                stroke-width="1.33358" />
                        </svg>
                        <% } %>
                            <% } %>
            </div>