footer {
    display: none;
    background-color: #000;
    z-index: 9995;
    gap: 20px;
    width: 100%;
    padding: 10px 8vw 5px;
    position: fixed;
    inset: auto auto 0 auto;
}

footer nav {
    display: flex;
    flex-flow: row;
    align-items: start;
    justify-content: space-between;
}

footer a svg,
footer button svg {
    margin: 0 auto;
}

footer h1 {
    color: #fff;
    font-size: 12px;
}

footer .upload-icon {
    border: 2px solid #fff;
    border-radius: 20px;
}





.mobile-device footer {
    display: block;
}