main {
    padding: 14px;
}

.top {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.top .login {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
}

.history {
    margin-top: 10px;
    font-weight: 500;
}

.history-row {
    margin-top: 10px;
    overflow-x: auto;
}

.history-container {
    display: flex;
    gap: 10px;
}

.no-videos {
    align-self: center;
    justify-self: center;
}




.video {
    width: 200px;
    min-width: 200px;
}

.video .avatar {
    display: none;
}

.video .views-date {
    display: none;
}





.buttons-container {
    display: flex;
    flex-flow: column;
    align-items: start;
    gap: 20px;
    margin-top: 30px;
}

.buttons-container a,
.buttons-container button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}