main {
    padding: 0;
}

#content-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 10px;
}

.loading-spinner {
    margin: auto 0;
}


.notification {
    width: 100%;
    gap: 10px;
    display: inline-flex;
    align-items: start;
    margin: 15px 0;
}

.metadata {
    display: flex;
    flex-flow: column;
    flex: 1;
}

.title {
    font-weight: 600;
}

.time {
    font-size: 14px;
}

.preview {
    margin: auto 0 auto auto;
}
.preview img {
    width: 160px;
}
