#player-container {
    background: #000;
    position: relative;
}

#video-container {
    height: 100%;
}

#custom-video {
    height: 100%;
    margin: 0 auto;
}

.limit-height {
    max-height: 80vh;
}


#player-container svg path {
    fill: #fff;
}



#player-container .controls {
    display: block;
    padding: 0 2vw;
    position: absolute;
    inset: auto 0 0;
    z-index: 6000;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

#play-pause {
    width: 26px;
    height: 26px;
}

#video-slider {
    width: 100%;
}

#player-container .bottom {
    height: 50px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

#player-container .group {
    display: flex;
    align-items: center;
    gap: 16px;
}

.sound-container {
    display: inline-flex;
    gap: 10px;
}

.sound-container:hover #sound-slider {
    display: block;
}


#sound-slider {
    display: none;
}

#time {
    color: #fff;
}

#player-modal {
    display: none;
    background-color: #00000075;
    z-index: 5000;
    position: absolute;
    inset: 0;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-pause-modal-btn {
    width: 40px;
    height: 40px;
}





.mobile-device #player-modal {
    display: block;
}

.mobile-device #sound-slider {
    display: block;
}